.global-header {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: radial-gradient(100% 62.34% at 0% 37.66%, #FFFFFF 38.02%, #E6E6E6 100%); */
    margin-bottom: 0;
}
.global-header > div:first-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    /* padding: 14px 0; */
    padding-top: 14px;
    padding-bottom: 14px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-links-wrapper {
    display: flex;
    align-items: center;
    /* gap: 40px; */
}

.header-links-wrapper > span {
    color: #000;
    font-weight: 200;
    font-family: 'TT Hoves', sans-serif;
    margin-left: 1.1em;
    margin-right: 1.2em;
}

.header-link-blog {
    text-align: center;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 3px;
    color: #222222;
    text-transform: uppercase;
    opacity: 1;
    text-decoration: none;
}

.header-link-blog:hover {
    color: #05473C;
}


.header-wrapper nav {
    display: flex;
    gap: 30px;
}

.header-wrapper nav a {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-align: right;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.2s;
}

.header-wrapper nav a:hover,
.header-wrapper nav a[aria-current] {
    border-bottom-color: #54ECCA;
}

.header-wrapper svg {
    max-width: 100%;
}

.search-wrapper {
    display: flex;
}

@media screen and (max-width: 991.9px) {
    /* .global-header > div:first-child {
        padding: 14px calc(var(--bs-gutter-x) * .5);
    } */

    .header-wrapper {
        flex-direction: column;
    }

    .search-wrapper {
        padding-top: 14px;
        width: 100%;
        justify-content: center;
    }
}