.post-hero {
    /* background: rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.2); */
    /* border-radius: 10px; */
    display: flex;
    height: 100%;
    /* overflow: hidden; */
    text-decoration: none;
}


.info {
    width: 50%;
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 30px;
}

.categories span {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #05473c;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.categories span:not(:first-child)::before {
    content: "\00B7";
    margin-right: 3px;
    font-size: 20px;
    line-height: 9px;
}

.title-wrap {
    margin-bottom: 12px;
}

.title {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35.2px;
    line-height: 112.5%;
    color: #373737;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1em!important;
}

.excerpt {
    text-align: left;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}

.author {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0;
    color: #5D6465;
    margin-top: 0;
    margin-bottom: 0px;
}

.reading-time {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #8D8D8D;
}

.post-date {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.01em;
    color: #8D8D8D;
}

.tags {
    flex-wrap: wrap;
    display: flex;
    gap: 8px;
}

.tags span {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #8D8D8D;
}

.image {
    display: block;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border-radius: 8px; */
}

@media screen and (max-width: 991.9px) {
    .post-hero {
        flex-direction: column-reverse;
    }

    .image {
        min-height: 294px;
        width: 100%;
    }

    .info {
        width: 100%;
        padding: 30px 20px;
    }

    .categories {
        margin-bottom: 25px;
    }

    .title {
        font-size: 22px;
    }

    .author {
        font-size: 14px;
        line-height: 17px;
    }

}
