.blog-categories {
    margin-bottom: 40px;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin: 40px auto;
    scrollbar-color: rgba(84, 236, 202, 0.8) rgba(5, 71, 60, 0.1);
    scrollbar-width: thin;
    padding-bottom: 5px;
}

.blog-categories::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(5, 71, 60, 0.1);
}

.blog-categories::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: rgba(5, 71, 60, 0.1);
}

.blog-categories::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(84, 236, 202, 0.8);
}

.blog-categories a {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 10px 20px;
    min-width: max-content;
    text-decoration: none;
    order: 2;
}

/* .blog-categories a[aria-current="page"] {
    order: 1;
} */

.blog-categories a[aria-current="page"],
.blog-categories a:hover {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;

    background: #05473C;
    border-radius: 48px;
    padding: 10px 20px;
    color: #54ECCA;
}


.blog-categories-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 22px;
    margin-bottom: 22px;
    padding-bottom: 15px;
}

.blog-categories-wrapper .blog-categories {
    margin: 0;
    gap: 20px;
}

.blog-categories-wrapper a,
.blog-categories-wrapper a:hover,
.blog-categories-wrapper a[aria-current="page"] {
    background: transparent;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1.8px;
    color: #05473C;
    text-transform: uppercase;
    opacity: 1;
    padding: 10px 0;
}

.blog-categories-wrapper .more-button {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    opacity: 1;
    align-self: start;
    border: none;
    outline: none;
    text-align: center;
    font: normal normal 600 18px/22px 'TT Hoves', sans-serif;
    letter-spacing: 1.8px;
    color: #05473C;
    text-transform: uppercase;
    opacity: 1;
    padding: 9px 36px 9px 16px;
    position: relative;
}

.blog-categories-wrapper .more-button .burger::before,
.blog-categories-wrapper .more-button .burger,
.blog-categories-wrapper .more-button .burger::after {
    display: block;
    background-color: #05473c;
    position: absolute;
    height: 2px;
    width: 15px;
    border-radius: 2px;
}
.blog-categories-wrapper .more-button .burger {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-categories-wrapper .more-button .burger::before {
    content: '';
    margin-top: -4px;
}
.blog-categories-wrapper .more-button .burger::after {
    content: '';
    margin-top: 4px;
}

.blog-categories-wrapper .more-categories {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100030;
    background-color: #9ea8a9;
    color: white;
    align-items: center;
}

.blog-categories-wrapper .more-categories .close {
    position: sticky;
    top: 10px;
    left: calc(100% - 32px);
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    line-height: 30px;
}

.blog-categories-wrapper .more-categories h2 {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 3em;
}


/*display_post*/

.table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.table .table_cell {
    vertical-align: top;
    display: table-cell;
}

.display_post p.excerpt {
    font-size: .45em !important
}

.display_post .post_wrapper .post_thumbnail img {
    height: 200px !important
}

.display_post {
    margin-bottom: 1em
}

.display_post {
    background-color: #e6e6e6;
    padding: .75em
}

.display_post .post_wrapper {
    max-width: 800px;
    margin: auto
}

.display_post .post_wrapper .tc_post_thumbnail_before {
    display: table-cell
}

@media only screen and (min-width: 801px) {
    .display_post .post_wrapper .tc_post_thumbnail {
        background-image: none !important
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail {
        margin-right: .75em
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail img {
        display: block
    }
}

@media only screen and (max-width: 800px) and (min-width:0px) {
    .display_post p.excerpt, #footer .copyright p, p.wp-caption-text {
        font-size: .65em !important
    }

    .display_post .post_wrapper .tc_post_block, .display_post_simple .post_wrapper .tc_post_block {
        display: table-row;
    }
}

/*end display_post*/

.video, .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear: both;
}

.video iframe, .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.aligncenter {
    max-width: 100%;
}

div.aligncenter img,
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    max-width: 100%;
    height: auto;
}

.wp-caption-text {
    font-family: 'TT Hoves', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    letter-spacing: -0.01em !important;
    color: #5D6465 !important;
    margin-top: 20px;
}

.wp-caption-text a {
    color: #05473C !important;
}

.post-hover:hover {
    background: #F5F5F5;
}


.grid-item:hover {
    background-color: #F5F5F5;
}