@media screen and (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        min-width: 1500px;
    }
}



/*display_post*/

.table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.table .table_cell {
    vertical-align: top;
    display: table-cell;
}

.display_post p.excerpt {
    font-size: .45em !important
}

.display_post .post_wrapper .post_thumbnail img {
    height: 200px !important
}

.display_post {
    margin-bottom: 1em
}

.display_post {
    background-color: #e6e6e6;
    padding: .75em
}

.display_post .post_wrapper {
    max-width: 800px;
    margin: auto
}

.display_post .post_wrapper .tc_post_thumbnail_before {
    display: table-cell
}

@media only screen and (min-width: 801px) {
    .display_post .post_wrapper .tc_post_thumbnail {
        background-image: none !important
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail {
        margin-right: .75em
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail img {
        display: block
    }
}

@media only screen and (max-width: 800px) and (min-width:0px) {
    .display_post p.excerpt, #footer .copyright p, p.wp-caption-text {
        font-size: .65em !important
    }

    .display_post .post_wrapper .tc_post_block, .display_post_simple .post_wrapper .tc_post_block {
        display: table-row;
    }
}

/*end display_post*/

.video, .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear: both;
}

.video iframe, .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.aligncenter {
    max-width: 100%;
}

div.aligncenter img,
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    max-width: 100%;
    height: auto;
}

.wp-caption-text {
    font-family: 'TT Hoves', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    letter-spacing: -0.01em !important;
    color: #5D6465 !important;
    margin-top: 20px;
}

.wp-caption-text a {
    color: #05473C !important;
}

.post-hover:hover {
    background: #F5F5F5;
}


.grid-item:hover {
    background-color: #F5F5F5;
}

/*============SLICK============*/

.slick-track {
    display: flex;
    align-items: stretch;
}

.slick-slider:not(.adaptive-height) .slick-slide {
    /* float: unset; */
    height: inherit !important;
}

.slick-prev:before, .slick-next:before {
    color: #54ECCA;
}

.slick-arrow.slick-disabled {
    display: none !important;
}