body {
    font-size: calc(1em + 1vw)!important;
    line-height: 1 !important;
}

/*display_post*/

.table {
    border-collapse: collapse;
    display: table;
    width: 100%;
}

.category-title {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2em!important;
    line-height: 1.125!important;
    color: #373737;
    text-align: left;
    margin-bottom: calc(0.55em - 1rem) !important;
}

.table .table_cell {
    vertical-align: top;
    display: table-cell;
}

.display_post .post_wrapper .post_thumbnail img {
    max-height: 200px !important;
    min-width: 200px;
}

.display_post .post_wrapper a.button {
    background: #54ECCA 0% 0% no-repeat padding-box;
    border-radius: 24px;
    text-align: center;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 1.6px;
    color: #05473C !important;
    padding: 15px;
    display: inline-block;
    min-width: 250px;
    margin: 0;
    text-decoration: none;
}

.display_post .post_wrapper a.button:hover {
    background: #26e7bc 0% 0% no-repeat padding-box;
}

.display_post {
    margin-bottom: 1em
}

.display_post {
    background-color: #e6e6e6;
    padding: .75em
}

.display_post .post_wrapper {
    max-width: 800px;
    margin: auto
}

.display_post .post_title {
    text-align: left;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0;
    margin-bottom: 11px;
}

.display_post .excerpt {
    text-align: left;
    text-align: left;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    padding: 0;
    margin-bottom: 26px;
}

.display_post .post_wrapper .tc_post_thumbnail_before {
    display: table-cell
}

@media only screen and (min-width: 801px) {
    .display_post .post_wrapper .tc_post_thumbnail {
        background-image: none !important
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail {
        margin-right: .75em
    }

    .display_post .post_wrapper .tc_post_thumbnail .post_thumbnail img {
        display: block
    }
}

@media only screen and (max-width: 800px) and (min-width:0px) {
    .display_post p.excerpt, #footer .copyright p, p.wp-caption-text {
        font-size: .65em !important
    }

    .display_post .post_wrapper .tc_post_block, .display_post_simple .post_wrapper .tc_post_block {
        display: table-row;
    }
}

/*end display_post*/

.video, .wp-block-embed__wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    clear: both;
}

.video iframe, .wp-block-embed__wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.aligncenter {
    max-width: 100%;
}

div.aligncenter img,
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: inherit;
    max-width: 100%;
    height: auto;
}

.wp-caption-text {
    font-family: 'TT Hoves', sans-serif !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    text-align: center !important;
    letter-spacing: -0.01em !important;
    color: #5D6465 !important;
    margin-top: 20px;
}

.wp-caption-text a {
    color: #05473C !important;
}

.post-hover:hover {
    background: #F5F5F5;
}


.lr, .lb {
    position: relative;
}

.lr::before {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    right: calc(var(--bs-gutter-x) * .5 * -1);
    border-right: 1px solid #d1d6d6;
}

.lb::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1rem;
    border-bottom: 1px solid #d1d6d6;
}

.lr-lg, .lr-md, .lr-sm, .lr-xl, .lr-xxl,
.lb-lg, .lb-md, .lb-sm, .lb-xl, .lb-xxl {
    position: relative;
}

.lr-lg::before, .lr-md::before, .lr-sm::before, .lr-xl::before, .lr-xxl::before {
    position: absolute;
    height: 100%;
    top: 0;
    right: calc(var(--bs-gutter-x) * .5 * -1);
    border-right: 1px solid #d1d6d6;
}

.lb-lg::after, .lb-md::after, .lb-sm::after, .lb-xl::after, .lb-xxl::after {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1rem;
    border-bottom: 1px solid #d1d6d6;
}

@media (min-width: 576px) {

    .lr-sm-none::before,
    .lb-sm-none::after {
        content: unset;
    }

    .lr-sm::before,
    .lb-sm::after {
        content: "";
    }
}

@media (min-width: 768px) {

    .lr-md-none::before, .lb-md-none::after {
        content: unset;
    }

    .lr-md::before, .lb-md::after {
        content: "";
    }
}

@media (min-width: 992px) {

    .lr-lg-none::before, .lb-lg-none::after {
        content: unset;
    }

    .lr-lg::before, .lb-lg::after {
        content: "";
    }
}

@media (min-width: 1200px) {

    .lr-xl-none::before, .lb-xl-none::after {
        content: unset;
    }

    .lr-xl::before, .lb-xl::after {
        content: "";
    }
}

@media (min-width: 1400px) {

    .lr-xxl-none::before, .lb-xxl-none::after {
        content: unset;
    }

    .lr-xxl::before, .lb-xxl::after {
        content: "";
    }
}


/*============SLICK============*/

.slick-track {
    display: flex;
    align-items: stretch;
}

.slick-slider:not(.adaptive-height) .slick-slide {
    /* float: unset; */
    height: inherit !important;
}

.slick-prev:before, .slick-next:before {
    color: #54ECCA;
}

.slick-arrow.slick-disabled {
    display: none !important;
}

.fundamentals .slick-arrow::before {
    content: "";
    display: block;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: transparent none repeat scroll 0 0;
    border-color: #373737 #373737 currentcolor currentcolor;
    border-image: none;
    border-style: solid solid none none;
    border-width: 1px 1px 0 0;
    cursor: pointer;
    height: 16px;
    margin: 0;
    transition: opacity .3s ease 0s,border-width .3s ease 0s;
    width: 16px;
    border-width: 3px;
}

.fundamentals .slick-arrow:hover::before{
    border-width: 5px;
}

.fundamentals .slick-arrow.slick-prev::before {
    transform: rotate(-135deg);
}

.fundamentals .slick-arrow.slick-next::before {
    transform:  rotate(45deg);
}