.blog-categories {
    margin-bottom: 40px;
    display: flex;
    gap: 4px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    margin: 40px auto;
    scrollbar-color: rgba(84,
            236, 202, 0.8) rgba(5, 71, 60, 0.1);
    scrollbar-width: thin;
    padding-bottom: 5px;
}

.blog-categories::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: rgba(5, 71, 60, 0.1);
}

.blog-categories::-webkit-scrollbar {
    border-radius: 3px;
    width: 6px;
    height: 6px;
    background-color: rgba(5, 71, 60, 0.1);
}

.blog-categories::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(84, 236, 202, 0.8);
}

.blog-categories a {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 10px 20px;
    min-width: max-content;
    text-decoration: none;
    order: 2;
}

/* .blog-categories a[aria-current="page"] {
    order: 1;
} */

.blog-categories a[aria-current="page"],
.blog-categories a:hover {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 100%;

    background: #05473C;
    border-radius: 48px;
    padding: 10px 20px;
    color: #54ECCA;
}


.blog-categories-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 14px;
    margin-bottom: 0.65em;
    padding-bottom: 14px !important;
}

.blog-categories-wrapper .blog-categories {
    margin: 0;
    padding: 0;
    gap: 35px;
}

.blog-categories-wrapper a,
.blog-categories-wrapper a:hover,
.blog-categories-wrapper a[aria-current="page"] {
    background: transparent;
    /* font-weight: 600; */
    /* font-size: 18px; */
    /* line-height: 22px; */
    text-align: center;
    /* letter-spacing: 1.8px; */
    /* color: #05473C; */
    /* text-transform: uppercase; */
    /* opacity: 1; */
    padding: 0;

    text-decoration: none !important;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    font-size: .6em!important;
    line-height: 1.3;
    color: #05473c;
    font-weight: 600 !important;
}

.blog-categories-wrapper .more-button {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    align-self: start;
    border: none;
    outline: none;
    font-family: 'TT Hoves', sans-serif;
    position: relative;

    background-color: #e6e6e6;
    padding: 5px;
    padding-right: 25px;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 16px;
    color: #05473c;
    font-weight: 600 !important;
}

.blog-categories-wrapper .more-button .burger::before,
.blog-categories-wrapper .more-button .burger,
.blog-categories-wrapper .more-button .burger::after {
    display: block;
    background-color: #05473c;
    position: absolute;
    height: 2px;
    width: 15px;
    border-radius: 2px;
}

.blog-categories-wrapper .more-button .burger {
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-categories-wrapper .more-button .burger::before {
    content: '';
    margin-top: -4px;
}

.blog-categories-wrapper .more-button .burger::after {
    content: '';
    margin-top: 4px;
}

.blog-categories-wrapper .more-categories {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100030;
    background-color: #9ea8a9;
    color: white;
    align-items: center;
}

.blog-categories-wrapper .more-categories .close {
    position: absolute;
    top: 0;
    left: calc(100% - 32px);
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 30px;
    line-height: 30px;
}

.blog-categories-wrapper .more-categories h2 {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    color: #fff;
    font-size: 1.2em!important;
}

@media screen and (max-width: 991.9px) {
    /* .global-header>div:first-child {
        padding: 14px calc(var(--bs-gutter-x) * .5);
    }

    .blog-categories-wrapper {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
        padding-right: calc(var(--bs-gutter-x) * .5) !important;
    } */

}


.title {
    background:
        linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
        linear-gradient(transparent 90%, #d1d6d6 10%);
    background-size: 100% 100%, 0 100%;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    display: inline;
}

.title:hover,
.title:focus {
    color: #373737;
    background-size: 0 100%, 100% 100%;
}

.load-more {
    border: solid 3px #05473c;
    background-color: #05473c!important;
    color: #fff !important;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: .45em!important;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 100px;
    margin: 60px auto;
}

/*===========END BLOG CATEGORIES====================*/