.post-thumbnail {
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 38.02%, #FFFFFF 100%);
}

.post-categories {
    display: flex;
    margin-bottom: 24px;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 35px;
}

.post-categories span {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.08px;
    line-height: 18.304px;
    letter-spacing: 1.408px;
    text-transform: uppercase;
    color: #05473c;
}

.post-categories span:not(:last-child)::after {
    content: "|";
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14.08px;
    line-height: 18.304px;
    letter-spacing: 1.408px;
    text-transform: uppercase;
    color: #05473c;
    padding-left: 10px;
    transform: translateY(-1px);
    display: inline-block;
}

.title {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 52.8px;
    line-height: 59.4px;
    text-align: left;
    letter-spacing: 0;
    color: #373737;
}

.meta-desc {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32.032px;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    letter-spacing: 0px;
    color: #3d4c49;
}

.socials {
    position: sticky;
    top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 0;
    overflow: visible;
    transform: translateX(-70px);
}

.socials .social-item {
    min-height: 40px;
    min-width: 40px;
}

.post-author-wrapper {
    border: 1px solid #d1d6d6 !important;
    border-left: none !important;
    border-right: none !important;
    padding: 17.6px 0;
}

.post-author .avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    min-width: 32px;
    min-height: 32px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.post-author .author-name {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21.12px;
    line-height: 27.456px;
    letter-spacing: 0px;
    color: #3d4c49;
    margin-bottom: 0;
}

.post-author .author-role {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.32px;
    line-height: 16px;
    letter-spacing: 1.232px;
    color: #05473c;
    text-transform: uppercase;
}
/* 
.post-author .author-role::before {
    content: "";
    background-image: url(../img/author.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 16.34px;
    height: 16.34px;
    display: inline-block;
} */

.reading-time {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    letter-spacing: -0.01em;
    color: #5D6465;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.reading-time::before {
    content: "";
    background-image: url(../img/clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.highlights {
    background: #F5F5F5;
    border-radius: 8px;
    padding: 30px;
}

.highlights h3 {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 30px;
}



.highlights ul li {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
}

.highlights ul li::marker {
    color: #05473C;
}

.article-content h2 {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-top: 38px;
    margin-bottom: 24px;
    letter-spacing: 0px;
}

.article-content p {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 45px;
    color: #000000;
    margin-bottom: 30px;

    letter-spacing: 0px;
}

.article-content ul {
    margin-bottom: 30px;
}

.article-content ul li {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #101010;
}

.article-content ul li::marker {
    color: #05473C;
}

.article-content a {
    color: #05473C;
}

.article-content>div {
    max-width: 100%;
    width: auto !important;
}

.article-content img {
    max-width: 100%;
    height: auto;
}


.post-date {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12.32px;
    line-height: 16px;
    letter-spacing: 1.232px;
    color: #3d4c49;
    text-transform: uppercase;
    opacity: 1;
}


.post-types {
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

.post-types span {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;

    background: #F5F5F5;
    border-radius: 18px;

    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #000000;
}



@media screen and (max-width: 767.9px) {
    .title {
        font-size: 36px;
        line-height: 40px;
    }

    .meta-desc {
        font-size: 18px;
        line-height: 22.5px;
        margin-top: 36px;
    }

    .socials {
        position: static;
        height: auto;
        flex-direction: revert;
        transform: unset;
        justify-content: center;
        margin: 50px 0;
    }

    .highlights {
        padding: 20px;
    }

    .highlights h3 {
        margin-bottom: 20px;
    }

    .highlights ul {
        list-style-position: outside;
        padding-left: 20px;
    }

    .highlights ul li {
        font-size: 14px;
        line-height: 120%;
    }

    .article-content h2 {
        margin-top: 60px;
        margin-bottom: 20px;
    }

    .article-content p {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .article-content ul {
        margin-bottom: 20px;
        list-style-position: outside;
        padding-left: 20px;
    }

    .article-content ul li {
        font-size: 18px;
        line-height: 28px;
    }
}