
@font-face {
	font-family: 'TT Hoves';
	font-style: normal;
	font-weight: 200;

	src:
		url('../fonts/tt-hoves-light.woff') format('woff'),
		url('../fonts/tt-hoves-light.woff2') format('woff2'),
		url('../fonts/tt-hoves-light.ttf') format('truetype')
	;
	font-display: swap;
}

@font-face {
	font-family: 'TT Hoves';
	font-style: normal;
	font-weight: 400;

	src:
		url('../fonts/tt-hoves-regular.woff') format('woff'),
		url('../fonts/tt-hoves-regular.woff2') format('woff2'),
		url('../fonts/tt-hoves-regular.ttf') format('truetype')
	;
	font-display: swap;
}

@font-face {
	font-family: 'TT Hoves';
	font-style: normal;
	font-weight: 600;

	src:
		url('../fonts/tt-hoves-demibold.woff') format('woff'),
		url('../fonts/tt-hoves-demibold.woff2') format('woff2'),
		url('../fonts/tt-hoves-demibold.ttf') format('truetype')
	;
	font-display: swap;
}

@font-face {
	font-family: 'TT Hoves';
	font-style: normal;
	font-weight: 700;

	src:
		url('../fonts/tt-hoves-bold.woff') format('woff'),
		url('../fonts/tt-hoves-bold.woff2') format('woff2'),
		url('../fonts/tt-hoves-bold.ttf') format('truetype')
	;
	font-display: swap;
}