.fundamentals {
    background: #e6e6e6 0% 0% no-repeat padding-box;
    opacity: 1;
    margin: 26px 0;
    margin: 0.75em 0 calc( 0.75em - 1rem);
    padding: 20px 0 30px;
    padding: 1% 0 calc( 1% + 0.75em);
}

.title {
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    font-size: .8em!important;
    line-height: 35px;
    line-height: 1.125;
    text-align: left;
    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
    margin-bottom: .55em;
}

.fundamentals a {
    text-decoration: none;
    text-align: left;

    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    font-size: .6em!important;
    line-height: 26px;

    letter-spacing: 0px;
    color: #373737;
    opacity: 1;
    display: flex;
    gap: 19px;
    align-items: flex-start;
    padding-right: 19px;
    max-height: 52px;
}

.fundamentals a span {
    background: #9ea8a9 0% 0% no-repeat padding-box;
    border-radius: 50%;
    font-family: 'TT Hoves', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    font-size: 1.1em!important;
    line-height: 36px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    display: inline-flex;
    width: 40px;
    min-width: 40px;
    height: 40px;
    min-height: 40px;
    align-items: center;
    justify-content: center;
}